<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('http://www.w3schools.com/lib/w3.css')}}">
            <link rel="stylesheet" href="{{ asset('Resources/css/kanban.css')}}">
            <link rel="stylesheet" href="{{ asset('Resources/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{ asset('Resources/css/font-awesome.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
    <div class="w3-top">
        {% block top %}
            <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">

            </ul>

        {% endblock %}
    </div>

        <div class="w3-container">
            <div class="w3-row">

                <div class="w3-col l3 m4">

                {% block aside_left %}
                    <!-- Profile -->
                    <div class="w3-card-2 w3-round w3-white">
                        <div class="w3-container">
                            <h4 class="w3-center">My Profile</h4>
                            <p class="w3-center"><img src="{{ asset( 'Resources/images/img_avatar3.png') }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                            <hr>
                            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Developper, Algo</p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Paris, FR</p>
                            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> August 25, 1988</p>
                        </div>
                    </div>

                    <div class="w3-card-2 w3-round w3-white">
                        <div class="w3-container">
                        </div>
                    </div>

                {% endblock %}
                </div>
                <div class="w3-col l9 m8">

                {% block body %}{% endblock %}
                </div>
            </div>

        </div>

        <div class="w3-container w3-theme-d3 w3-padding-16">
            {% block footer %}
            footer
            {% endblock %}
        </div>



        {% block javascripts %}

            <script src='{{ asset("https://code.jquery.com/jquery-1.12.4.js") }}'></script>
            <script src="{{ asset('https://code.jquery.com/ui/1.12.1/jquery-ui.js') }}"></script>
            <script src="{{ asset('Resources/js/kanban.js') }}"></script>
        {% endblock %}
    </body>
</html>
