{% extends 'base.html.twig' %}

{% block body %}

    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card-2 w3-round w3-white">
                <div class="w3-container w3-padding">
                    <h6 class="w3-opacity">Créer Tâche</h6>

                    {{ form_start(formPostit) }}
                    <div class="w3-group">
                        <label class="w3-label">
                            {{ form_label(formPostit.titre,"Titre") }}
                        </label>
                        {{ form_widget(formPostit.titre, {'attr': {'class': 'w3-input'}}) }}
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">
                            {{ form_label(formPostit.contenu,"Contenu") }}
                        </label>
                        {{ form_widget(formPostit.contenu, {'attr': {'class': 'w3-input'}}) }}
                    </div>

                    <div class="w3-group">
                        <label class="w3-label">
                            {{ form_label(formPostit.etat,"Etat") }}
                        </label>
                        {{ form_widget(formPostit.etat, {'attr': {'class': 'w3-select'}}) }}
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">
                            {{ form_label(formPostit.dateC,"Date création") }}
                        </label>
                        {#<div class="w3-col m1">
                            {{ form_widget(formPostit.dateC.day, {'attr': {'class': 'w3-select'}}) }}
                        </div>
                        <div class="w3-col m1">
                            {{ form_widget(formPostit.dateC.month, {'attr': {'class': 'w3-select'}}) }}
                        </div>
                        <div class="w3-col m1">
                            {{ form_widget(formPostit.dateC.year, {'attr': {'class': 'w3-select'}}) }}
                        </div>#}
                        {{ form_widget(formPostit.dateC, {'attr': {'class': 'w3-select'}}) }}

                    </div>
                    <div class="w3-group">
                        <label class="w3-label">
                            {{ form_label(formPostit.dateF,"Date Fin") }}
                        </label>
                        {{ form_widget(formPostit.dateF, {'attr': {'class': 'w3-select'}}) }}
                    </div>

                    <div class="w3-group">
                        {{ form_widget(formPostit.enregistrer, {'attr': {'class': 'w3-btn w3-white w3-border w3-border-green w3-round-xlarge'}}) }}
                    </div>

                    {{ form_end(formPostit) }}

                   {#  <button type="button" class="w3-btn w3-theme"><i class="fa fa-pencil"></i> &nbsp;Post</button> #}
                </div>
            </div>
        </div>
    </div>





{% endblock %}