{% extends "::base.html.twig" %}

{% block title %}Liste {% endblock %}

{% block body %}

    <div class="w3-row">
        <a class="w3-btn-floating-large w3-teal" href="{{ path('create') }}"><i class="fa fa-plus"></i> </a>
    </div>

    <div class="w3-col m4 w3-pale-yellow w3-leftbar w3-rightbar w3-border-grey">
        {% for tache in taches %}
{% if tache.etat == 0 %}
                <div class="w3-card-4 w3-yellow postit">
                    <div class="postit-titre">
                        {{ tache.titre }}  <a href="{{ path('delete',{'idTache':tache.id}) }}"><i class="fa fa-trash"> </i> </a> <a href="{{ path('edit',{'idTache':tache.id}) }}"> <i class="fa fa-edit"> </i></a>
                    </div>
                    <div class="postit-content">
                        {{ tache.contenu }}

                        <div class="dropdown">
                            <i class="fa fa-pencil"></i>
                            <div class="dropdown-content">
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':0}) }}"><div class="btn-etat"><i class="fa fa-thumbs-up fa-2x"></i> </div></a>
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':1}) }}"><div class="btn-etat"><i class="fa fa-hand-o-right fa-2x"></i> </div></a>
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':2}) }}"><div class="btn-etat"><i class="fa fa-thumbs-up fa-2x"></i> </div></a>
                            </div>
                        </div>
                    </div>
                </div>
{% endif %}
        {% endfor %}
    </div>

    <div class="w3-col m4 w3-pale-blue w3-leftbar w3-rightbar w3-border-grey">
        {% for tache in taches %}
            {% if tache.etat == 1 %}
                <div class="w3-card-4 w3-yellow postit">
                    <div class="postit-titre">
                        {{ tache.titre }}  <a href="{{ path('delete',{'idTache':tache.id}) }}"><i class="fa fa-trash"> </i> </a> <a href="{{ path('edit',{'idTache':tache.id}) }}"> <i class="fa fa-edit"> </i></a>
                    </div>
                    <div class="postit-content">
                        {{ tache.contenu }}
                        <div class="dropdown">
                            <i class="fa fa-pencil"></i>
                            <div class="dropdown-content">
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':0}) }}"><div class="btn-etat"><i class="fa fa-thumbs-up fa-2x"></i></div> </a>
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':1}) }}"><div class="btn-etat"><i class="fa fa-hand-o-right fa-2x"></i></div> </a>
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':2}) }}"><div class="btn-etat"><i class="fa fa-thumbs-up fa-2x"></i> </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="w3-col m4 w3-pale-green w3-leftbar w3-rightbar w3-border-grey">
        {% for tache in taches %}
            {% if tache.etat == 2 %}
                <div class="w3-card-4 w3-yellow postit">
                    <div class="postit-titre">
                        {{ tache.titre }}  <a href="{{ path('delete',{'idTache':tache.id}) }}"><i class="fa fa-trash"> </i> </a> {#<a href="{{ path('edit',{'idTache':tache.id}) }}"> <i class="fa fa-edit"> </i></a>#}
                    </div>
                    <div class="postit-content">
                        {{ tache.contenu }}

                        <div class="dropdown">
                            {#<i class="fa fa-pencil"></i>#}
                            <div class="dropdown-content">
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':0}) }}"><div class="btn-etat"><i class="fa fa-thumbs-up fa-2x"></i> </div></a>
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':1}) }}"><div class="btn-etat"><i class="fa fa-hand-o-right fa-2x"></i> </div></a>
                                <a href="{{ path('etat',{'idTache':tache.id,'etat':2}) }}"><div class="btn-etat"><i class="fa fa-thumbs-up fa-2x"></i> </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>






{% endblock %}
