{% extends "::base.html.twig" %}

{% block title %}Liste {% endblock %}

{% block body %}

    <div class="w3-row">
        <a class="w3-btn-floating-large w3-teal" href="{{ path('create') }}"><i class="fa fa-plus"></i> </a>
    </div>

    <div class="w3-col m4 w3-pale-yellow w3-leftbar w3-rightbar w3-border-grey">
        {% for tache in taches %}

                <div class="w3-card-4 w3-yellow postit">
                    <div class="postit-titre">
                        {{ tache.titre }}  <a href="{{ path('delete',{'idPostit':tache.id}) }}"><i class="fa fa-trash"> </i> </a> <a href="{{ path('edit',{'idPostit':tache.id}) }}"> <i class="fa fa-edit"> </i></a>
                    </div>
                    <div class="postit-content">
                        {{ tache.contenu }}
                    </div>
                </div>

        {% endfor %}
    </div>

    <div class="w3-col m4 w3-pale-blue w3-leftbar w3-rightbar w3-border-grey">

    </div>

    <div class="w3-col m4 w3-pale-green w3-leftbar w3-rightbar w3-border-grey">

    </div>






{% endblock %}
